<a href="https://colab.research.google.com/github/loukaBl/Bank-Project-/blob/main/checkpointpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1
list1 = [2, 3, 6]
result = 1
for kt in list1:
    result = result * kt
print(result)

36

In [ ]:
#Q2
list1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

n = len(list1)
for i in range(n):
    for j in range(0, n-i-1):
        if list1[j][-1] > list1[j+1][-1]:
            list1[j], list1[j+1] = list1[j+1], list1[j]

print(list1)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
#Q3
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}
combined = {}

# Ajouter d'abord les clés 'a' et 'b' en combinant les valeurs
for key in ['a', 'b']:
    combined[key] = d1.get(key, 0) + d2.get(key, 0)

# Ajouter ensuite la clé 'd' unique à d2
combined['d'] = d2['d']

# Ajouter enfin la clé 'c' unique à d1
combined['c'] = d1['c']

print(combined)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
#Q4
n = int(input("Veuillez saisir un entier : "))

result = {}
for i in range(1, n+1):
    result[i] = i*i
print(result)

Veuillez saisir un entier : 7
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
#Q5
lst = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

n = len(lst)
for i in range(n):
    for j in range(0, n - i - 1):
        s1 = lst[j][1]
        s2 = lst[j + 1][1]

        # Split integer and decimal parts
        parts1 = s1.split('.')
        parts2 = s2.split('.')

        # Compare integer parts (by length, then lexicographically)
        if len(parts1[0]) != len(parts2[0]):
            cmp = len(parts1[0]) - len(parts2[0])
        else:
            if parts1[0] != parts2[0]:
                cmp = 1 if parts1[0] > parts2[0] else -1
            else:
                # Compare decimals
                dec1 = parts1[1] if len(parts1) > 1 else '0'
                dec2 = parts2[1] if len(parts2) > 1 else '0'

                max_len = max(len(dec1), len(dec2))
                dec1 = dec1.ljust(max_len, '0')
                dec2 = dec2.ljust(max_len, '0')

                if dec1 != dec2:
                    cmp = 1 if dec1 > dec2 else -1
                else:
                    cmp = 0

        # If s1 < s2, swap → descending order
        if cmp < 0:
            lst[j], lst[j + 1] = lst[j + 1], lst[j]

print(lst)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
#Q6
# Create set
my_set = {0, 1, 2, 3, 4}
print(my_set)

# Iterate over set
for item in my_set:
    print(item)

# Add members
my_set.add(5)
print(my_set)

# Remove members
my_set.remove(3)  # Raises error if 3 not in set
print(my_set)

# Alternatively to remove without error:
my_set.discard(10)  # Does nothing if 10 not in set
print(my_set)

{0, 1, 2, 3, 4}
0
1
2
3
4
{0, 1, 2, 3, 4, 5}
{0, 1, 2, 4, 5}
{0, 1, 2, 4, 5}